.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.ModalMessage {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}

.MessageText {
  margin: 50px auto;
  color: #757575;
  text-decoration: underline double red;
  font-size: 500;
}
